<div class="container-flex">
    <h1>Jogo da Velha</h1>

    <div class="telaJogo">
        <div class="col-4 g-0" *ngFor="let quadrado of quadrados">
            <app-quadrado 
                (clicou)="escolherQuadrado(quadrado)" 
                [valor]="quadrado.valor" 
                [trocarCor]="quadrado.trocarCor">
            </app-quadrado>
        </div>
    </div>

    <div class="jogador">
        <label>Vez do jogador: {{ jogador }}</label>        
    </div>

    <div class="vencedor">        
        <label> {{ vencedor }} </label>
    </div>

    <div>        
        <button (click)="reiniciarJogo()" type="button" class="btn btn-primary btn-lg">Reiniciar jogo</button>
    </div>

    <div class="adversario">
        <label>Jogar contra:</label>
        <button type="button" class="btn btn-outline-success margin5 active" data-bs-toggle="button" autocomplete="off">Outro jogador</button>
        <button type="button" class="btn btn-outline-warning margin5" data-bs-toggle="button" autocomplete="off">IA iniciante</button>
        <button type="button" class="btn btn-outline-danger margin5" data-bs-toggle="button" autocomplete="off">IA expert</button>                
    </div>
</div>