<div class="container-flex">
    <h1>Jogo da Velha</h1>

    <div class="telaJogo">
        <div class="col-4 g-0" *ngFor="let quadrado of quadrados">
            <app-quadrado 
                (clicou)="escolherQuadrado(quadrado)" 
                [valor]="quadrado.valor" 
                [trocarCor]="quadrado.trocarCor">
            </app-quadrado>
        </div>
    </div>

    <div class="jogador">
        <label>Vez do jogador: {{ jogador }}</label>        
    </div>

    <div class="vencedor">        
        <label> {{ vencedor }} </label>
    </div>

    <div>        
        <button (click)="reiniciarJogo()" type="button" class="btn btn-primary btn-lg">Reiniciar jogo</button>
    </div>
    
    <div class="adversario">
        <label>Jogar contra:</label>        
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active margin5">
              <input (click)="trocarModoJogo($event)" type="radio" name="options" id="jogador" checked> Outro jogador
            </label>
            <label class="btn btn-secondary margin5">
              <input (click)="trocarModoJogo($event)" type="radio" name="options" id="IAIniciante"> IA iniciante
            </label>
            <label class="btn btn-secondary margin5">
              <input (click)="trocarModoJogo($event)" type="radio" name="options" id="IAExpert"> IA expert
            </label>
          </div>
    </div>
</div>