.telaJogo {
    margin: auto;    
    width:40%;    
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: center;
}

.quadrado-vazio {    
    height: 190px;    
    text-align: center;    
    background: #eee;
    display: block;
    padding: 15% 10% 10% 10%;
    font-size: 80px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    color: #eee;
}

.quadrado-texto {
    color:black;
}

.quadrado-ganhou {
    background: #0f0;
    color:black;
}

.jogador {
    font-size: 30px; 
    margin-bottom: -10px;   
}

.vencedor {
    font-size: 30px; 
    font-weight: bold;   
}

.adversario {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;    
    margin-right: 7%;
}

@media screen and (max-width: 780px) {    
    .telaJogo {
        width: 100%;
    }    
}

@media screen and (max-width: 990px) {
    .telaJogo {
        width: 80%;
    }
}

@media screen and (max-width: 1280px) {
    .telaJogo {
        width: 60%;
    }
}